.git
.gitignore
.DS_Store
.idea
.vscode

node_modules
**/node_modules

apps/*/dist
apps/*/build
apps/*/coverage
apps/*/.react-router
apps/*/.env
apps/*/.env.*
!.env.example

apps/api/src/prisma/generated
packages/*/dist

*.log
image.png
videos.md
README.md
